{% extends "base.html" %}

{% block title %}
My Profile | MMU Second-Hand Marketplace
{% endblock %}

{% block content %}

<section class="profile-page">
    <div class="section-heading">
        <p class="section-label">ACCOUNT</p>
        <h1>My Profile</h1>
    </div>

    <div class="profile-card">
        <p><strong>Name:</strong> {{ request.user.get_full_name|default:"Not provided" }}</p>
        <p><strong>Email:</strong> {{ request.user.email }}</p>
        <p><strong>Username:</strong> {{ request.user.username }}</p>
    </div>
</section>

{% endblock %}